@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
}

body{
    background-image: url("pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);
}
.mainSec{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBox{
    border-radius: 20px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: hsl(225, 100%, 98%);
}
#pic{
    border-radius: 20px 20px 0 0;
    width:100%;
}
.Order{
    margin:30px;
    height:350px ;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
#parag{
    width: 300px;
    text-align: center;
    word-spacing: 2px;
    color: hsl(224, 23%, 55%);
    line-height: 26px;
}
.annual{
    
    width: 290px;
    height: 70px;
    border-radius: 10px;
    background-color: hsl(225, 50%, 94%);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.annual img{
    margin: 10px;
}
.plan {
   
    height: 50px;
    width: 200px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.plan p{
    font-size: 13px;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}
.annual button{
    border: none;
    margin-right: 10px;
    font-size: 15px;
    color: hsl(273, 75%, 52%);
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.proceed{
    border: none;
    height: 50px;
    width:300px ;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(225, 100%, 98%);
    background-color: hsl(273, 75%, 52%);
    font-weight: bold;
}
#cancel{
    border: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color:hsl(225, 100%, 98%) ;
}

@media (max-width: 400px) {
    body{
        background-image: url("pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-color:hsl(225, 100%, 94%);
    }
    .mainBox{
    border-radius: 20px;
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color:hsl(225, 100%, 98%);
    gap: 20px;
    }
    .Order{
    margin:30px;
    height:400px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
#parag{
    width: 260px;
    text-align: center;
    word-spacing: 1px;
    color: hsl(224, 23%, 55%);
    line-height: 26px;
}
.annual{
    width: 230px;
    height: 70px;
    border-radius: 10px;
    background-color: hsl(225, 50%, 94%);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.proceed{
    border: none;
    height: 50px;
    width:240px ;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(225, 100%, 98%);
    background-color: hsl(273, 75%, 52%);
    font-weight: bold;
}
}